@model Projekt_Zespolowy.ViewModels.UserPanelVM

@{
    ViewData["Title"] = Model.User.UserName;
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <section class="py-2">
                        @foreach (var item in @Model.User.Offers)
                        {
                            <div class="row">
                    <a class="btn" style="height:auto; width:contain" asp-area="" asp-controller="Offers" asp-action="OfferDetails" asp-route-id="@item.OfferId">
                                <div class="offer" style="display: flex;">
                                    <div class="col-6" style="flex: 1;">
                                        <h6>Przedmiot: @item.Category.Name</h6>
                                        <h6>
                                            Poziom:
                                            @if (item.LevelClasses.Count > 0)
                                            {
                                                @foreach (var item2 in item.LevelClasses)
                                                {
                                                    <span style="display: inline-block;">@item2.Name, </span>
                                                }
                                            }
                                            else
                                            {
                                                <span style="display: inline-block;">Nieokreślony</span>
                                            }
                                        </h6>
                                        @if (!item.IsOnline)
                                        {
                                            <p><strong>Lokalizacja:</strong> @item.Localization.City</p>
                                        }
                                        else
                                        {
                                            <p><strong>Lokalizacja:</strong> Zajęcia zdalne</p>
                                        }
                                        <p style="height: 50px"><strong>Opis Oferty:</strong> @item.OfferDescription</p>
                                    </div>
                                    <div class="col-4">
                                        <p style="text-align: right;"><strong>Cena [zł/h]</strong>: @item.Price / 60min</p>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (item.OfferCreator.PhoneNumber == null)
                                            {
                                                <p style="text-align: right;"><strong>Numer Telefonu: </strong>--</p>
                                            }
                                            else
                                            {
                                                <p style="text-align: right;"><strong>Numer Telefonu: </strong>@item.OfferCreator.PhoneNumber</p>
                                            }

                                        }
                                        else
                                        {
                                            <p style="text-align: right;"><strong>Numer Telefonu: </strong>Zaloguj sie</p>
                                        }
                                    </div>
                                </div>
                            </a>
                            </div>
                        }
            </section>
        </div>
        <div class="col-3">
            <div>
                <p class="h5 text-center">Informacje o użytkowniku</p>
                <p class="h5 text-muted text-center">@Model.User.FirstName @Model.User.LastName</p>
                <br />
                <div class="d-flex flex-row justify-content-between">
                    <div class="">Email:</div>
                    <div class="">@Model.User.Email</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="">Oferuje kursów:</div>
                    <div class="">@Model.User.Offers.Count()</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="" style="margin-right:10px;">Ocena użytkownika:</div>
                    @if (Model.User.Score != float.NaN && Model.User.Score > 0)
                    {
                        int yellowStarCount = (int)Model.User.Score;
                        int greyStarCount = 5 - yellowStarCount;
                        for (int i = 0; i < yellowStarCount; i++)
                        {
                            <i class="fa-regular fa-star" style="color:gold;"></i>
                        }
                        for (int i = 0; i < greyStarCount; i++)
                        {
                            <i class="fa-regular fa-star" style="color:grey;"></i>
                        }
                    }
                </div>
            </div>
            <div class="col mt-5">
                <p class="h5 text-center">Ostatnie komentarze</p>
                @if (Model.OpinionsList.Count > 0)
                {
                    @foreach (var opinion in Model.OpinionsList.OrderByDescending(x => x.OpinionId))
                    {
                        <hr />
                        <div class="m-2">
                            <p class="text-justify">@opinion.Comment</p>
                        </div>
                    }
                    <hr />
                }
                else
                {
                    <div class="m-2">
                        <p class="text-justify">Brak komentarzy.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
